body {
    background-color: rgb(233, 237, 238);
    border: 1px solid rgb(233, 237, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
}

.formbutton {
    border: 3px solid rgb(247, 70, 0);
    background-color: rgb(190, 141, 34);
    color: white;
    padding:10px 15px;
    border-radius:20px;
    font-weight: bolder;
    font-size: 15px;
    animation-name: button;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration: 1s;
    
}

.formbutton:hover {
    color: red;
    background-color: rgb(79, 112, 146);
}


h5 {
    background-color: rgb(180, 159, 127);
    border: 1px solid  rgb(180, 159, 127);
    border-radius:11px;
    color: maroon;
    text-align: center;
    font-size: 32px;
    margin:0px;
    padding-left: 35px;
   
}


.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.main-header{
    background-color: gray;
    color: red;
    text-align: left;
    cursor: pointer;
    margin: 0px;
    padding-left: 35px;
}

.navbar {
  margin: 0px;
  background-color: coral;
  border: 1px solid coral;
  border-radius: 5px;
}

.navbar li {
    padding: 0px;
    list-style: none;
   
}

.navbar li{
    cursor: pointer;
    display: inline;
    text-decoration: none;
    padding-right: 23px;
    margin: auto;
    
}

.navbar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar a:hover{
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-size: 150%;
}

.navbar a:active{
    text-decoration: none;
    color: rgb(241, 140, 8);
    font-weight: bold;
    font-size: 80%;
}

.navbar a:visited{
    text-decoration: none;
    font-weight: bold;
    font-size: 80%;
}

.categories{
    color: red;
    text-align: center;
    margin: 0px;
    padding: 0px;  
    background-color: gray; 
}

.categories:hover{
    font-weight: bolder;
    font-size: 20px;
    color: red;
    text-align: center;
    margin: 0px;
    padding: 0px;  
    background-color: gray; 
}

.block{
    float: left;
    width: 33.3%;
    padding:20px;
    border: 1px solid rgb(107, 77, 77);
    box-sizing: border-box;
    border-radius: 12px;
}

.block h1{
   text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
line-height: 1.6em;
margin: 0px;
}

.block p{
    padding-left: 15px;
    text-align: justify;
    line-height: 1.3em;
}

.button a{
    color: black;
    text-decoration: none;
    border: 3px solid rgb(247, 70, 0);
    background-color: rgb(138, 126, 126);
    margin-left: 75%;
    padding: 5px;
    border-radius: 12px;
    animation-name: button;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration: 1s;
}

.button a:hover {
    color: red;
    background-color: rgb(79, 112, 146);
}


@keyframes button {
    0% {opacity: 0.5;}
    100% {opacity: 1;}
}


.form { 
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 30%;
        border: 0px solid red;
        width: 96%;
}

.form label { 
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    display: block;
}

.form input[type="text"] , .form input[type="email"], .form input[type="password"] , .form textarea{
    width: 50%;
}


.form input[type="submit"]{
    margin-left: 36%;
}
 

#about {
    margin-top: 10px;
    float: left;
    width: 70%;
}

#side-bar {
    
    float: right;
    width: 30%;
}

#about p{
    line-height: 1.6em;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
    text-decoration: wavy;
    text-overflow: none;
    scroll-behavior: smooth;
    font-weight: bold;
}

img {
    margin-top: 45px;
    margin-left: 100px;
    margin-bottom: 20px;
    border: 1px solid rgb(247, 70, 0);
    width: auto;
    height: 150px;
    transition: 1s;
}
img:hover {
    transform:scale(1:1)
}


